
{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Все статьи
{% endblock title %}


{% block content %}
<h1>Все статьи ({{ posts|length }})</h1>

{% for post in posts %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title|censor }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Создано: {{ post.created_at|date:'d-M-Y H:m'  }}</h6>
    <p class="card-text text-left">{{ post.content|censor|truncatechars:50 }}</p>
    <a href="{{ post.pk }}" class="card-link float-left">Далее...</a>
  </div>
</div>
{% endfor %}

{% endblock content %}