<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
  <div class="card h-100" >
    <img src="/media/photo.jpg" class="card-img-top" alt="{{ post.title|censor }}">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ post.pk }}">{{ post.title|censor }}</a></h5>
      <p class="card-text">{{ post.content|censor|truncatechars:50 }}</p>
      <p class="card-text"><small class="text-muted">Автор: {{ post.author }}</small></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Добавлено: {{ post.created_at|date:'d-M-Y H:i'  }}</small>
    </div>
  </div>
</div>