
{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Все статьи
{% endblock title %}


{% block content %}
{% if is_not_authors %}
<button> <a href="/news/upgrade/">Стать автором.</a> </button>
{% endif %}
<h1>Все статьи ({{ posts|length }})</h1>
  {% if posts %}
<div class="card-group text-left">
  {% for post in posts %}
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
    <div class="card h-100" >
      <img src="/media/photo.jpg" class="card-img-top" alt="{{ post.title|censor }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.pk }}">{{ post.title|censor }}</a></h5>
        <p class="card-text">{{ post.content|censor|truncatechars:50 }}</p>
        <p class="card-text"><small class="text-muted">Автор: {{ post.author }}</small></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Добавлено: {{ post.created_at|date:'d-M-Y H:i'  }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  {% else %}
    <h2>Пока ещё нет ни одной статьи!</h2>
  {% endif %}
{% if is_paginated %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock content %}