<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <div class="col-md-4">
            {{ form.type_post.label_tag }}
            {{ form.type_post }}
        </div>
        <div class="col-md-4">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <div class="col-md-12">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="col-md-12">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
    </div>
    {{ form.check_box.label_tag }}
    {{ form.check_box }} <br>
    <input type="submit" value="Добавить статью">
</form>