<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Portal</title>
  </head>
  <body>
  <p>Здравствуй, {{username}}. Новости за прошлую неделю в категории {{ category }}:</p>
  <div>
    {% for post in posts %}
    <div style="border:1px solid black; text-align:center; margin-bottom:5px">
      <a href="{{ site }}{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
      <div style="text-align:center"><small>{{ post.created_at|date:'d-M-Y H:i'  }}</small></div>
      <p>{{ post.content|truncatechars:150 }}</p>
      <a href="{{ site }}{{ post.get_absolute_url }}">перейти к статье</a>
    </div>
    {% endfor %}
  </div>
  </body>
</html>